---
import { type CollectionEntry, getCollection } from "astro:content"
import FormattedDate from "@elrax/shared/components/FormattedDate.astro"
import Tag from "@elrax/shared/components/Tag.astro"
import Layout from "../layouts/Layout.astro"
import arrowBack from "../assets/icons/arrow-back.svg"
import linkSvg from "../assets/icons/link.svg"

export const prerender = true

type Props = CollectionEntry<"blog">

const post = Astro.props

const { Content } = await post.render()
const { title, description, tag, pubDate, updatedDate, heroImage } = post.data

const href = Astro.site?.href || "https://elrax.blog/"
const hrefWOSlash = href.replace(/\/+$/, "")
const pageUrl = hrefWOSlash + Astro.url.pathname

export async function getStaticPaths() {
	const posts = await getCollection("blog")
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}))
}
---

<Layout {title} {description} {pageUrl} coverUrl={hrefWOSlash + heroImage}>
	<main class="py-4 relative md:pt-9 md:pb-16 lg:pb-20 px-4 flex flex-col gap-4 md:gap-9 md:px-0">
		<div
			class="flex md:max-w-[640px] lg:max-w-[747px] 2xl:max-w-[996px] md:w-full md:mx-auto justify-between items-center"
		>
			<a href="/" class="flex gap-2 md:w-1/4 items-center">
				<img class="w-6 h-6" src={arrowBack.src} alt="chevron-icon" />
				<p class="text-xs md:text-sm 2xl:text-lg font-bold">Blog</p>
			</a>
			<div class="date text-[#9A9BA2] text-xs md:text-sm 2xl:text-lg">
				{
					updatedDate ? (
						<div class="last-updated-on">
							Last edited: <FormattedDate date={updatedDate} />
						</div>
					) : (
						<FormattedDate date={pubDate} />
					)
				}
			</div>
			<div class="images md:w-1/4 justify-end flex flex-shrink-0 items-center">
				<div class="hidden md:block text-sm 2xl:text-lg text-[#9A9BA2] mr-2">Authors:</div>
				{
					post.data.author.map((author, i) => (
						<img
							style={`margin-left: ${i !== 0 ? "-8.5px" : ""}`}
							class="w-6 md:w-8 border-[0.75px] border-[#181818] h-6 md:h-8 rounded-full"
							src={author.img}
							alt="author"
						/>
					))
				}
			</div>
		</div>
		<article class="flex flex-col">
			<div
				class="hero-image md:max-w-[640px] lg:max-w-[747px] 2xl:max-w-[996px] md:mx-auto md:w-full flex justify-center mb-4 md:mb-9"
			>
				{heroImage && <img class="border-[#565a5e58] border" src={heroImage} alt="" />}
			</div>
			<div class="flex md:w-[474px] lg:w-[594px] 2xl:w-[792px] md:mx-auto">
				<Tag tag={tag} />
			</div>
			<div
				class="prose md:max-w-[474px] lg:max-w-[594px] 2xl:max-w-[792px] md:mx-auto flex pt-6 flex-col gap-6 md:gap-8"
			>
				<h1>{title}</h1>
				<Content />
				<div class="flex gap-4 flex-col">
					<div class="text-[#9A9BA2] text-xs md:text-sm 2xl:text-lg">Authors:</div>
					<div class="images gap-4 flex flex-col lg:flex-wrap lg:flex-row flex-shrink-0">
						{
							// eslint-disable-next-line @typescript-eslint/no-explicit-any
							post.data.author.map((a: any) => (
								<div class="flex gap-2 items-center">
									<img
										class="w-6 md:w-8 md:h-8 2xl:w-9 2xl:h-9 border-[0.75px] border-[#181818] h-6 rounded-full"
										src={a.img}
										alt="author"
									/>
									<div class="info flex text-xs md:text-sm 2xl:text-lg">
										<div>
											{a.name}, <span class="text-[#9A9BA2]">{a.role}</span>
										</div>
									</div>
								</div>
							))
						}
					</div>
				</div>
				<div class="flex flex-col gap-4 items-start">
					<div class="text-[#9A9BA2] text-xs md:text-sm 2xl:text-lg">Share post:</div>
					<button
						class="copy-link py-2.5 px-6 bg-[#FFFFFF0F] flex items-center gap-2 text-[#FFFFFF66] font-bold rounded-[40px] text-xs 2xl:text-lg"
					>
						<img class="w-4 h-4" src={linkSvg.src} alt="link-icon" />
						Copy link
					</button>
				</div>
			</div>
		</article>
	</main>
</Layout>

<script>
	const copyLinkButtons = document.querySelectorAll(".copy-link")
	copyLinkButtons.forEach(
		(b) =>
			((b as HTMLElement).onclick = () => {
				navigator.clipboard.writeText(window.location.href)
			}),
	)
</script>

<style is:global>
	article img {
		width: 100%;
		max-width: 100%;
		height: auto;
		border-radius: 16px;
	}
	article ul {
		list-style: disc;
	}
	article ol {
		list-style: auto;
	}
	article ul,
	article ol {
		padding-left: 1rem;
		margin-bottom: 1rem;
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	article h1 {
		font-size: 32px;
		font-style: normal;
		font-weight: 900;
		line-height: 42px;
	}
	@media (min-width: 768px) {
		article h1 {
			font-size: 36px;
			line-height: 42px;
		}
	}
	@media (min-width: 1536px) {
		article h1 {
			font-size: 48px;
			line-height: 58px;
		}
	}
	article h2,
	article h3,
	article h4,
	article h5 {
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 32px;
	}
	@media (min-width: 768px) {
		article h2,
		article h3,
		article h4,
		article h5 {
			font-size: 32px;
			line-height: 120%;
		}
	}
	@media (min-width: 1536px) {
		article h2,
		article h3,
		article h4,
		article h5 {
			font-size: 36px;
			line-height: 42px;
		}
	}
	article a {
		text-decoration: underline;
	}
	article p {
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: 20px;
	}
	article b,
	article strong {
		font-weight: 700;
	}
	@media (min-width: 768px) {
		article p {
			font-size: 16px;
			line-height: 24px;
		}
	}
	@media (min-width: 1536px) {
		article p {
			font-size: 20px;
			line-height: 30px;
		}
	}
	article code {
		padding: 3px 4px;
		border: 1px rgb(85, 85, 85) solid;
		border-radius: 6px;
		font-size: 12px;
		white-space: nowrap;
	}
	@media (min-width: 1536px) {
		article code {
			font-size: 14px;
		}
	}
</style>
