---
import BaseHead from "@elrax/shared/components/BaseHead.astro"
import Footer from "@elrax/shared/components/Footer.astro"
import Header from "@elrax/shared/components/Header.astro"
import Sidebar from "@elrax/shared/components/Sidebar.astro"
import bgLarge from "../assets/icons/bg/lg.svg"
import bgSmall from "../assets/icons/bg/sm.svg"
import { SITE_DESCRIPTION, SITE_TITLE, SITE_URL } from "../consts"

export type Props = {
	title?: string
	description?: string
	pageUrl?: string
	coverUrl?: string
}

const {
	title = SITE_TITLE,
	description = SITE_DESCRIPTION,
	pageUrl = SITE_URL,
	coverUrl = "https://elrax.com/preview.png",
} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead {title} {description} {pageUrl} {coverUrl} />
	</head>
	<body class="bg-[#0A141D] relative text-white font-nunito">
		<img
			class="w-full h-full md:hidden pointer-events-none absolute"
			src={bgSmall.src}
			alt="bg"
		/>
		<img
			class="w-full h-full hidden md:block pointer-events-none top-0 object-cover absolute"
			src={bgLarge.src}
			alt="bg"
		/>
		<Header subdomain="blog" />
		<slot />
		<Footer />
		<Sidebar subdomain="blog" />
		<style is:global>
			.border-gradient {
				box-shadow:
					rgba(78, 82, 86, 0.196) 0.12073px 0.12073px 0px -0.25px inset,
					rgba(78, 82, 86, 0.9) 1px 1px 0px -0.5px inset,
					rgba(69, 67, 157, 0.157) 0px -0.12073px 0px -0.125px inset,
					rgba(69, 67, 157, 0.95) 0px -1px 0px -0.25px inset,
					rgba(83, 81, 184, 0.31) -0.24145px 0.18109px 0px -0.625px
						inset,
					rgba(83, 81, 184, 0.75) -2px 1.5px 0px -1.25px inset;
			}
			.active-bg-gradient {
				background: linear-gradient(
					180deg,
					#1b2228 0%,
					rgba(29, 36, 44, 0.4) 100%
				);
			}
		</style>
	</body>
</html>
